<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item</title>
</head>
<body>
    <form action="/addItem" method="post">
        <!--TODO: Hacer el form para insertar nuevo item-->
    </form>
</body>
</html>