<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llegaron las compras</title>
</head>

<body>
    <script src="/node_modules/html5-qrcode/html5-qrcode.min.js"></script>

    <p>Scanee todos los productos que llegaron nuevos: </p>
    <div style="width: 500px" id="reader"></div>

    <div class="displayMessage" id="message"
        style="display:none; border: 3px solid black; position: fixed; width: 300px; height: 200px;">
        <p></p>
    </div>

    <div class="changeQuantityForm" id="changeQuantityForm">
        <label for="newItemQuantity" hidden="">Nueva cantidad del producto</label>
        <input type="number" name="newItemQuantity" id="newItemQuantity" hidden="" value="">
        <button type="button" id="nextProduct" hidden="">Siguiente</button>
    </div>
    
    
    <!-- TODO: Hacer que esté disabled, hasta que se agregue un producto mínimo --> <!--
    <button type="submit" id="finishScanning">Listo, ya escanee todos los productos</button>
    
    <div class="warningItemDoesntExist" hidden="" id="warningItemDoesntExist" style="border: 3px solid black; position: fixed; width: 300px; height: 200px;">
        <p>El elemento escaneado no existe. Por favor, agregalo una vez hayas termiando de escanear las compras.</p>
    </div>
    
    <script src="scripts/shoppingArrived.js"></script>
</body>

</html> -->

<%- include("partials/header.ejs") %>
    <title>Llegaron las compras</title>
    <link rel="stylesheet" href="css/addItems.css">
    </head>

    <body>
        <script src="/node_modules/html5-qrcode/html5-qrcode.min.js"></script>
        <!-- Aside: -->
        <aside class="aside-panel">
            <div class="aside-panel__container">
                <div class="aside-panel__user">
                    <i class="fa-solid fa-user"></i>
                    <p>
                        <%=username%>
                    </p>
                </div>
                <div class="aside-panel__links">
                    <button onmouseover="addHoverClassToElement(dashboardLink, 'active')"
                        class="aside-panel__link aside-panel__links__dashboard">
                        <a href="/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <p>Dashboard</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(inventoryLink, 'active')"
                        class="aside-panel__link aside-panel__links__inventory">
                        <a href="/inventario">
                            <i class="fa-solid fa-list"></i>
                            <p>Inventario</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(addItemLink, 'active')"
                        class="aside-panel__link aside-panel__links__addItem">
                        <a href="addItem">
                            <i class="fa-solid fa-plus"></i>
                            <p>Añadir producto</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(editItemLink, 'active')"
                        class="aside-panel__link aside-panel__links__editItem">
                        <a href="/editItemByQR">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <p>Editar producto por QR</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(makePurchasesLink, 'active')"
                        class="aside-panel__link aside-panel__links__makePurchases">
                        <a href="/makePurchases">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Lista de compras</p>
                        </a>
                    </button>
                    <button class="aside-panel__link aside-panel__links__purchasesArrived active">
                        <a href="/addItems">
                            <i class="fa-solid fa-truck"></i>
                            <p>Llegaron las compras</p>
                        </a>
                    </button>
                    <form onmouseover="addHoverClassToElement(logOutLink, 'active')" action="/logout" method="post"
                        class="aside-panel__link aside-panel__links__logOut">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <button type="submit">Cerrar sesión</button>
                    </form>

                </div>
            </div>
        </aside>

        <div class="content">
            <h1 class="title">Llegaron las compras</h1>
            <div class="inputs-section section">
                
                <div class="changeQuantityForm" id="changeQuantityForm">
                    <label for="newItemQuantity">Nueva cantidad del producto</label>
                    <input type="number" name="newItemQuantity" id="newItemQuantity" value="">
                    <button type="button" id="nextProduct">Siguiente</button>
                    <button type="submit" id="finishScanning">Listo, ya escanee todos los productos</button>
                </div>
                
                <div class="qr-reader" id="reader" style="width: 50%;"></div>
            </div>
        </div>

        <script src="scripts/shoppingArrived.js"></script>
        <script src="scripts/aside.js"></script>
    </body>

</html>