<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar nuevo producto</title>
</head>

<body>
    <form action="/addItem" method="post" enctype="multipart/form-data">
        <label for="productName">Nombre del producto:</label>
        <input type="text" name="productName" id="productName">
        <br>
        <label for="productBrand">Nombre de la marca:</label>
        <input type="text" name="productBrand" id="productBrand">
        <br>
        <label for="productQuantity">Cantidad:</label>
        <input type="number" name="productQuantity" id="productQuantity">
        <br>
        <label for="productImg">Imagen del producto:</label>
        <input type="file" name="productImg" id="productImg"/>
        <button type="submit">Agregar nuevo producto al inventario</button>
    </form>
</body>

</html>