<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>

<body>
    <h1>Inciar sesi칩n / Registrarse</h1>
    <div class="form-container">
        <form action="/signIn" method="post">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username" placeholder="Casa de Santi" autocomplete="off" autofocus>
            
            <label for="password">Contrase침a</label>
            <input type="password" name="password" id="password" placeholder="Tu contrase침a segura">
            
            <button type="submit">Iniciar sesi칩n</button>
        </form>
        
    </div>
</body>

</html>