.add-product-container {
    display: flex;
}

.add-product__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 0;
}

.add-product__form input{
    display: block;
    background-color: transparent;
    border: 2px solid #0F629C;
    width: 100%;
    height: 50px;
}

.add-product__input {
    margin-left: 25px;
    margin-right: 25px;
}

.add-product__form input:focus {
    outline: none;
}

.qr-reader{
    border: none !important;
    margin-left: 15px;
    margin: 25px;
}

#reader__dashboard_section_csr{
    background-color: #D3F2FF;
    border: 3px solid #0F629C;
    height: 50px;
}

@media (max-width: 1024px) {
    .add-product__form {
        width: 100%;
    }

    .submit-button {
        margin: 25px 25px 0 25px;
        border-radius: 0;
    }
}

@media (max-width: 500px) {
    .submit-button {
        height: 100px;
    }
}

@media (min-width: 296px) and (max-width: 499px) {
    .submit-button {
        height: 125px;
    }
    #reader__dashboard_section_csr {
        height: 85px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
}

@media (max-width: 295px) {
    .submit-button {
        height: 125px;
    }
    #reader__dashboard_section_csr {
        height: 85px;
        margin-bottom: 15px;
        padding-top: 0px;
    }
}