.content {
    width: 100%;
}

.title {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

/* Quick actions: */

.quick-actions{
    height: 25%;
    margin-bottom: 40px;
    text-align: center;
    padding: 17px;
}

.quick-actions__links {
    display: flex;
    width: 100%;
    height: 75%;
    align-items: center;
    justify-content: space-around;
}

.quick-actions__link{
    background-color: #D3F2FF;
    border-radius: 20px;
    padding: 19px;
    width: 240px;
    transition: background-color .2s;
}

.quick-actions__link i {
    margin-right: 10px;
}

.quick-actions__link:hover{
    background-color: #00B2FF;
}

/* Some products: */

.some-products {
    height: 60%;
    padding: 30px;
    text-align: center;
}

.empty-img{
    padding-top: 7%;
    width: 30%;
    /* padding-bottom: 30px; */
}