.products-section {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.products-section__products {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 870px) {
    .products-section__products{
        justify-content: center;
    }
}