body{
    padding: 0%;
    display: block;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forms-container{
    height: 75%;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #D3F2FF;
    border-radius: 54px;
}

.login {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.login-form{
    padding: 5px 10px 5px 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form__inputs{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form__inputs input {
    display: block;
    background-color: transparent;
    border: 2px solid #0F629C;
    width: 85%;
    height: 50px;
}

.login-form__inputs input:focus {
    outline: none;
}

.login-form__inputs button {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    background-color: #00B2FF;
    padding: 12px 0px;
}

.login-img {
    width: 45%;
    height: 100%;
    border-radius: 0 54px 54px 0;
    background-image: url("../img/login_picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #d3d3d3;
}

@media (min-width: 1400px) {
    .login-form{
        padding: 5px 10px 5px 70px;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

/* Register form: */

.register {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: right;
}

.register-form{
    padding: 5px 35px 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.register-form__inputs{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register-form__section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.register-form__inputs input {
    display: block;
    background-color: transparent;
    border: 2px solid #0F629C;
    width: 85%;
    height: 50px;
    text-align: right;
}

.register-form__inputs input:focus {
    outline: none;
}

.register-form__inputs button {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    background-color: #00B2FF;
    padding: 12px 0px;
}

.register-img {
    width: 45%;
    height: 100%;
    border-radius: 54px 0px 0px 54px;
    background-image: url("../img/register_picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #d3d3d3;
}

@media (max-width: 1200px) {
    .login-form{
        padding: 5px 35px 5px 35px;
        height: 100%;
        width: 100%;
    }
    
    .login-form__inputs button {
        font-size: 25px;
    }

    .login-form__inputs input{
        width: 100%;
    }

    .texts {
        text-align: center;
    }

    .login-img {
        display: none;
    }

    /* Register form: */

    .register-form{
        padding: 5px 35px 5px 35px;
        height: 100%;
        width: 100%;
    }
    
    .register-form__inputs button {
        font-size: 25px;
    }

    .register-form__inputs input{
        width: 100%;
    }

    .register-img {
        display: none;
    }
}